@charset "UTF-8";

body{
    background-color: #004643;
    /* font-family: "Kokoro"; */
    color: white;
    margin: 0;
    padding: 0;
}

canvas{
    background-color: #004643;
}

.dcanvas{
    width: 80%;
    height: 80%;
    padding: 0;
    margin: 0;
}

#menu{
    writing-mode: vertical-rl;
}

.menulist1 {
    display: none;
}

.menulist {
    position: absolute;                   /* 親要素を基準 */
    display: inline;                      /* 要素をインラインとして表示 */
    padding: 2px;                         /* テキストの前後の余白 */
    background-color:rgba(171,209,198,0.5);    /* 背景色（透明度） */
    width: 90px;                          /* 吹き出し全体の幅 */
    left : 0%;                           /* 表示位置 */
    bottom: 15%;
}
 
.menulist:after {
    content: "";                       /* コンテンツの挿入 */
    position: absolute;                /* 親要素を基準 */
  }

#txt{
    writing-mode: vertical-rl;
}

.txtform1{
    display: none;
}

.txtform {
    position: absolute;                   /* 親要素を基準 */
    display: inline;                      /* 要素をインラインとして表示 */
    padding: 2px;                         /* テキストの前後の余白 */
    background-color:rgba(171,209,198,0.5);    /* 背景色（透明度） */
    width: 190px;                          /* 吹き出し全体の幅 */
}
 
.txtform:after {
    content: "";                       /* コンテンツの挿入 */
    position: absolute;                /* 親要素を基準 */
  }

#straight{
    writing-mode: vertical-rl;
}

#wave{
    writing-mode: vertical-rl;
}

.pen{
    width: 100px;
    height: 40px;
}
.color {
    position   : relative;             /* 指定した分だけ相対的に移動 */
    cursor   : pointer;                /* カーソルをポインターで表示 */
}
.palette1{
    display: none;                     /* 要素を非表示 */
}

.palette {
    position: absolute;                   /* 親要素を基準 */
    display: inline;                      /* 要素をインラインとして表示 */
    padding: 2px;                         /* テキストの前後の余白 */
    background-color:rgba(171,209,198,0.5);    /* 背景色（透明度） */
    width: 280px;                          /* 吹き出し全体の幅 */
    left : 30%;                           /* 表示位置 */
    bottom: 15%;
}
 
.palette:after{
    content: "";                       /* コンテンツの挿入 */
    position: absolute;                /* 親要素を基準 */
  }
 
.eraser{
    width: 100px;
    height: 90px;
}

.clear{
    width: 100px;
    height: 100px;
}

#tool{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    height: auto;
    width: 60%;
    padding: 0;
}

#chat{
    position: fixed;
    top: 0;
    right: 0;
    width: 300px;
}
#disp{
    width: 20%;
    height: 330px;
    position: absolute;
    top: 30px;
    right: 0px;
    overflow: auto;
    padding: 0;
    margin: 0;

}

#imag{
    width: 325px;
    height: 150px;
    position: absolute;
	right: 0;
    bottom: 80px;
    padding: 0;
    margin: 0;
}

#imgSample{
    width: 300px;
    height: auto;
}