@charset "UTF-8";

body{
    background-color: #004643;
    /* font-family: "Kokoro"; */
    color: white;
    margin: 0;
    padding: 0;
}

canvas{
    background-color: #004643;
}

#menu{
    writing-mode: vertical-rl;
}

#txt{
    writing-mode: vertical-rl;
}

#straight{
    writing-mode: vertical-rl;
}

#wave{
    writing-mode: vertical-rl;
}

.pen{
    width: 100px;
    height: 40px;
}

.eraser{
    width: 100px;
    height: 90px;
}

.clear{
    width: 100px;
    height: 100px;
}

.tool{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

#chat{
    width: 300px;
    height: 400px;
    position: absolute;
    top: 0px;
    right: 0px;
    overflow: auto;

}

#imag{
    width: 300px;
    position: absolute;
	right: 0;
    bottom: 0;
    margin: 0;
}
