*{
    margin: 0;
    padding: 0;
}

body{
    margin-top: 80px;
    margin-left: 140px;
}

h1{
    font-size: 280%;
}

form{
    margin-left: 50px;
    font-size: 130%;
}

::placeholder {
    font-size: 1.3em;
  }

.in{
    margin-left: 20px;
    width: 480px;
    height: 45px;
}

#submit{
    margin-left: 700px;
    font-size: 1.5em;
    padding: 8px 10px;
    background-color: #f9bc60;
    color: #001e1d;
    cursor: pointer;
    border-radius: 4px;
    border-bottom: 3px solid #d37800;
    outline: none;
}

#submit:active {
    transform: translateY(3px);
    border-bottom: none;
    outline: none;
}

#cb{
    padding: 8px 10px;
    background-color: #f9bc60;
    color: #001e1d;
    cursor: pointer;
    border-radius: 4px;
    border-bottom: 3px solid #d37800;
    outline: none;
}

#cb:active {
    transform: translateY(3px);
    border-bottom: none;
    outline: none;
}

#copyTarget{
    height: 40px;
    width: 380px;
    outline: none;
}


p{
    margin-left: 50px;
    font-size: 130%;
}

a {
    color: #abd1c6;
    margin-left: 500px;
}