@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Font';
    src: url('./fonts/TanukiMagic.ttf');
}

body{
    background-color: #004643;
    font-family: "Font";
    color: white;
}

#submit{
    font-family: "Font";
}

button{
    font-family: "Font";
    padding: 10;
}
